html, body {
	font-weight: 300;
}

.text-white {
	color: $white !important;
}

.text-black {
	color: $black !important;
}

.capitalize {
	text-transform: capitalize !important;
}

.uppercase {
	text-transform: uppercase !important;
}