.main-header {
	background-color: #fff;
	box-shadow: 0 1px 3px #999;

	.menu {
		a {
			color: #656565;

			&:hover {
				color: $primary-color;
			}
		}
	}

	.top-bar-right {
		margin-top: 20px;
	}
}