<section class="signing-process-wrapper">
    <h3 class="text-white capitalize">Please sign up</h3>
    <form [ngFormModel]="myForm" (ngSubmit)="onSignup()">
        <div class="input-group">
            <label class="text-white" for="email">E-Mail</label>
            <input [ngFormControl]="myForm.find('email')" type="email" id="email" #email="ngForm" [class.is-invalid-input]="!email.pristine && email.errors != null && email.errors['noEmail']">
            <span class="form-error" [class.is-visible]="!email.pristine && email.errors != null && email.errors['noEmail']">Invalid mail address</span>
            <!--<span *ngIf="email.errors['isTaken']">This username has already been taken</span>-->
        </div>
        <div class="input-group">
            <label class="text-white" for="password">Password</label>
            <input [ngFormControl]="myForm.find('password')" type="password" id="password" [class.is-invalid-input]="!confirmPassword.pristine && confirmPassword.errors != null && confirmPassword.errors['passwordsNotMatch']">
        </div>
        <div class="input-group">
            <label class="text-white" for="confirm-password">Confirm Password</label>
            <input [ngFormControl]="myForm.find('confirmPassword')" type="password" id="confirm-password" #confirmPassword="ngForm" [class.is-invalid-input]="!confirmPassword.pristine && confirmPassword.errors != null && confirmPassword.errors['passwordsNotMatch']">
            <span class="form-error" [class.is-visible]="!confirmPassword.pristine && confirmPassword.errors != null && confirmPassword.errors['passwordsNotMatch']">Passwords do not match</span>
        </div>
        <button class="button signing-process-btn" type="submit" [disabled]="!myForm.valid">Sign Up</button>
    </form>
</section>